.container_header{
    height: 80px;
    width: 100%;
    box-shadow: 1px 1px 8px 0 lightgray;
    display: flex;
    justify-content: space-between;
    padding: 12px 72px;
}

.cart_header{
    font-size: 40px;
    color: #FCCAE2;
    cursor: pointer;
}

.logo_header{
    cursor: pointer;
}

.container-carry {
    position: relative;
}

.container-carry-list {
    position: absolute;
    z-index: 10;
    background-color: #fff;
    right: 0;
    box-shadow: 0px 2px 12px -6px #00000050;
}

.carry-product-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 300px;
}

.carry-product-list li {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 22px;
}

.carry-product-image {
    width: 60px;
    height: 60px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.carry-product-name {
    font-size: 14px;
}

.carry-product-data {
    display: grid;
    gap: 6px;
    margin-left: 12px;
}

.carry-product-remove {
    background: #FCCAE2;
    border-radius: 8px;
    border: none;
    color: #ff3131;
    padding: 6px 8px;
    cursor: pointer;
}

.carry-empty {
    white-space: nowrap;
    color: #868686;
    padding: 22px;
    user-select: none;
}

.carry-product-count {
    padding: 12px;
    font-size: 12px;
}

.carry-product-price {
    color: #50d350;
    font-size: 12px;
}

.product-carry-total {
    padding: 12px;
    border-top: 1px dashed #868686;
}

.product-carry-total-title {
    font-size: 10px;
    text-transform: uppercase;
}

.product-carry-total-value {
    font-size: 16px;
    color: #50d350;
}