*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;


}
.grid_app{
  display: grid;
  grid-template-columns: repeat(4, minmax(0%, 100%));
  max-width: 1300px;
  margin: 0 auto;
  grid-column-gap: 22px;
  grid-row-gap: 22px;
  padding-top: 20px;
}
